button {
  background-color: purple;
  color: white;
  width: 140px;
  height: 58px;
  position: absolute;
  top: 80%;
  transition: 0.5s;
}

button:hover {
  background-color: white;
  color: black;
}

.col-6 {
  position: relative;
  left: 6%;
  border: 1px solid black;
  width: 550px;
  height: 400px;
  margin-top: 160px;
  margin-left: 20px;
}
.col-6 .paragraph {
  margin-top: 30px;
}
.col-6 .title h2 {
  margin-top: 10px;
  font-size: 25px;
}